@import "utils/themeGenerator";
@import "components/img";
@import "components/form-page";
@import "components/tabs";
@import "components/ingredient-list";

body {
  color: var(--q-text);
}

.q-pa-none-important {
 padding: 0 !important;
}

input, textarea {
  &::placeholder {
    opacity: .3 !important;
  }
}

