$default-theme: (
  primary: #00adb5,
  secondary: #007c82,
  accent: #9C27B0,

  dark: #1d1d1d,
  dark-page: #121212,

  positive: #21BA45,
  negative: #C10015,
  info: #00dee8,
  warning: #F2C037,
  bg: #e6e6e6,
  secondary2: #1cf5ff,
  text: #494949
);
