# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: lts/*
        cache: 'npm'

    - name: pre
      run: npm ci

    - name: Linting...
      run: npm run lint

    - name: Build PWA for S3 and upload...
      run: npm run build:pwa

    - uses: sergeevpasha/yandex-cloud-s3-sync-github-actions@v0.1.0
      with:
       YANDEX_CLOUD_ACCESS_KEY_ID: ${{ secrets.YANDEX_CLOUD_ACCESS_KEY_ID }}
       YANDEX_CLOUD_SECRET_ACCESS_KEY: ${{ secrets.YANDEX_CLOUD_SECRET_ACCESS_KEY }}
       YANDEX_CLOUD_BUCKET_NAME: ${{ secrets.YANDEX_CLOUD_BUCKET_NAME }}
       PATH: "./dist/pwa"
       CLEAR: true

    - name: Build brotli dist for ESP-32...
      run: npm run build:pwa:brotli

    - name: Create release
      run: node octo-ci.mjs
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
