# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: lts/*
        cache: 'npm'

    - name: pre
      run: npm ci

    - name: Linting...
      run: npm run lint

    - name: Build brotli dist...
      run: npm run build:pwa:brotli


    - name: Create release
      run: node octo-ci.mjs
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#    - name: Cpmpress dist
#      run: tar -cvf filename.tar files/directories

#    - name: Linting...
#      run: npm run lint
#
#    - name: Build...
#      run: npm run build:pwa:brotli
#
#    - name: Zip dist
#      uses: montudor/action-zip@v1
#      with:
#        args: zip -qq -r dist.zip dist
#
#    - name:  'Automated Version Bump'
#      uses:  'phips28/gh-action-bump-version@master'
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      with:
#        tag-prefix:  'v'
#        version-type:  'minor'
#
#    - name:  'echo'
#      env:
#        NEW_TAG: ${{ steps.version_bump.outputs.newTag }}
#      run: echo "new tag $NEW_TAG"

#     - name: Create release
#       uses: ncipollo/release-action@main
#       with:
#         artifacts: dist.zip
#         commit: ''
#         generateReleaseNotes: true
#         replacesArtifacts: true
#         name: Release - ${{ steps.version-bump.outputs.newTag }}
#         token: ${{ secrets.GITHUB_TOKEN }}
