# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: lts/*
        cache: 'npm'
    - name: pre    
      run: npm ci --cache .npm --prefer-offline
    - name: Linting... 
      run: npm run lint
    - name: Build...
      run: npm run build:pwa
    - name: Create artifact
      uses: actions/upload-artifact@v3
      with:
        name: build-${{ github.run_attempt }}
        path: dist
    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "dist"
        token: ${{ secrets.GITHUB_TOKEN }}  
